body{
    font-family: Verdana;
    background-color: #7D7F85;
}
main{
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
header{
    height: 260px;
    width: 100%;
}
section{
    background-color: #1A3B98;
    text-align: center;
    height: 600px;
    width: 20%;
}
aside{
    background-color: #C2C3C2;
    text-align: center;
    color:  #886829;
    height: 560px;
    width: 80%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    background-color: #1A3B98;
    text-align: center;
    columns: white;
    width: 100%;
}
a{
color: #AF0215;
text-decoration: none;
}
table{
    width: 500px;
    text-align: center;
    /* margin: auto; */
}
th{
    background-color: #777777;
}
tr:nth-child(odd){
    background-color: #AAAAAA;
}
.wskBMI{
    margin: 30px 0px;
    font-size: 30px;
}
.katBMI{
    font-size: 50px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    display: block;
}